<html>
<head>
    <title></title>
</head>
<body>
    <h2> Add a project:</h2>
    <form action='/project_added', method='POST'>
        <div>
            Project Title: <input type='text' name='title'></br>
            </br>
            Description: <textarea rows="2" cols="20" name='description'></textarea></br>
        </br>
            Max Grade: <input type='text' name='max_grade'></br>
        </div>
        </br>
        <input type="submit" value="Add Project">
    </form>
</body>
</html>